engine/weights/t1-256x10-distilled-swa-2432500.pb.gz filter=lfs diff=lfs merge=lfs -text
engine/lc0-v0.32.0-macos_12.6.1 filter=lfs diff=lfs merge=lfs -text
engine/weights/ige.pb.gz filter=lfs diff=lfs merge=lfs -text
